#progressBar {
  width: 100%;
  background-color: grey;
}

#bar {
  width: 0%;
  height: 30px;
  background-color: rgb(62, 62, 126);
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

#loadingBlockade {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
}

.popup {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
}

.popupRecipe {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
}